#root {
  display: flex;
}


#author {
  text-align: right;
}

#quote-box {
  width: 400px;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px 20px
}

#buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#buttons button {
  background-color: blue;
}

#tweet-quote a {
  color: white;
}

#tweet-quote a:hover {
  color: blue;
}

